<h1>{{park.DS_NOMBRE}}</h1>
<div class="container">
  <div class="row justify-content-around">
    <div class="col 6">
      <img class="photo-size" src="{{park.IMAGEN}}" alt="foto del parque">
    </div>
    <div class="col 4 search">
      <ul>
        {{#with park}}
        <li>Access :{{DS_ACCESO}}</li>
        <li>Table :{{IT_MESA}}</li>
        <li>Bench :{{IT_BANCO}}</li>
        <li>Trash Can :{{IT_PAPELERA}}</li>
        <li>Container :{{IT_CONTENEDOR}}</li>
        <li>Fountain : {{IT_FUENTE}}</li>
        <li>Signs :{{IT_SENAL}}</li>
        <li>Playground :{{IT_JUEGOS}}</li>
        <li>Path :{{IT_SENDA}}</li>
        <li>Kiosk :{{IT_KIOSCO}}</li>
        <li>Toilets :{{IT_ASEOS}}</li>
        <li>Parking :{{IT_ESTACIONAMIENTO}}</li>
        <li>Bike Park :{{IT_P_BICIS}}</li>
        <li>Bathroom :{{IT_BANO}}</li>
        <li>Barbecue :{{IT_BARBACOA}}</li>
        {{/with}}
      </ul>
    </div>
  </div>
</div>
{{#if user}}
<div class="container">
  <h2>Nuevo evento</h2>
  <div class="col-md-4">
    <form action="/park-detail?id={{park._id}}" method="POST">
      <div class="form-group">
        <label for="field1">Date</label>
        <input type="text" class="form-control" id="field1" name="date" placeholder="17/11/2050">
      </div>
      <div class="form-group">
        <label for="field2"></label>Description</label>
        <input type="text" class="form-control" id="field2" name="description" placeholder="What you want to do">
      </div>
      <div class="form-group">
        <label for="field3">Email</label>
        <input type="text" class="form-control" id="field3" name="email" placeholder='split with a ","'>
      </div>
      <br>
      <button type="submit" class="button1">Crear evento</button>
    </form>
  </div>
  {{/if}}